.itemCard {
    margin-bottom: 8px;
}
.order-card {
    margin: 8px;
    width: initial !important;
}
.rowContent {
    display: flex;
    flex-direction: row;
}
// .appBar{
//     height: 40px;
// }
.order-btn {
    align-items: center;
    justify-content: flex-end;
}
.success {
    background-color: #7cc142;
    color: white;
    border-radius: 25px;
    padding: 3px
}
.failure {
    background-color: #De4f60;
    color: white;
    border-radius: 25px;
    padding: 3px
}
.label {
    color: #999;
}